/* About.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Estilos para la sección About, limitados solo a este componente */
.about {
  padding: 2rem;
  text-align: center;
  background-color: #121212;
  color: #00FF00;
  font-family: 'Press Start 2P', cursive; /* Aplicamos la fuente directamente a la clase */
}

/* Títulos dentro de .about */
.about h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Párrafos dentro de .about */
.about p {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para hacer el componente responsivo */
@media (max-width: 600px) {
  .about {
    padding: 1rem;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }
}

  