.game-container {
    width: 100%;
    height: 100vh; /* Ocupa todo el alto de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .game-element {
    width: 50vw; /* Ocupa el 50% del ancho de la ventana */
    height: 30vh;
  }
  
  @media (max-width: 768px) {
    .game-element {
      width: 100%;
      height: auto;
    }
  }