body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Evita que aparezca el scroll horizontal */
  margin: 0; /* Asegúrate de que no haya márgenes que generen desplazamiento */
  padding: 0; /* Sin rellenos que agreguen desplazamiento */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilos requeridos para Leaflet */
.leaflet-container {
  width: 100%;
  height: 400px; /* Ajusta el tamaño del mapa */
}
